*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Reuseable classes */
.d_flex{
  display: flex;
}

.justify_content_center{
  justify-content: center;
}

.justify_content_between{
  justify-content: space-between;
}

.align_items_center{
  align-items: center;
}

.cursor_pointer{
  cursor: pointer;
}

.position_relative{
  position: relative;
}

.text_center{
  text-align: center;
}

.overflow_hidden{
  overflow: hidden;
}

.w_100{
  width: 100%;
}

.h_100{
  height: 100%;
}

.flex_column{
  flex-direction: column;
}
